@import 'colors'

// NOTIFIACTION CARD 
.notfi-card-wrapper
   .notif-card
      position: relative
      background: #f9e5e2
      padding: 20px
      border: 1px solid #b94943
      border-radius: 7px
      gap: 1rem

      .closeBtn
         position: absolute
         top: 3px
         right: 3px
         background: transparent

   .dot-section
      gap: 3px
      padding: 1.5rem
      .dot-element
         --dot-size: 8px
         width: var(--dot-size)
         height: var(--dot-size)
         border-radius: 50%
         background: $cardBorder
         &.active
            background: $darkGray

// CARD BOX
.card-box-style
   background: white
   border: 1px solid $cardBorder
   border-radius: 7px
   padding: 2rem

   .cardTitle
      font-size: 1.5rem
      margin-bottom: 2rem
      svg
         margin-right: 7px

   .card-btn
      margin-left: 10px
      border-color: $cardBorder
      border-radius: 7px
      text-transform: capitalize
      font-weight: 500
      color: $darkGray
      width: auto
      p
         padding-left: 7px
         letter-spacing: initial
         font-size: 14px

// Tabs - Tab Container
div.nav
   .nav-item
      background: transparent
   
   
