@import 'colors'

// NOTIFIACTION CARD 
.notfi-card-wrapper
   .notif-card
      position: relative
      background: #f9e5e2
      padding: 20px
      border: 1px solid #b94943
      border-radius: 7px
      gap: 1rem

      .closeBtn
         position: absolute
         top: 3px
         right: 3px
         background: transparent

   .dot-section
      gap: 3px
      padding: 1.5rem
      .dot-element
         --dot-size: 8px
         width: var(--dot-size)
         height: var(--dot-size)
         border-radius: 50%
         background: $cardBorder
         &.active
            background: $darkGray

// CARD BOX
.card-box-style
   background: white
   border: 1px solid $cardBorder
   border-radius: 7px
   padding: 2rem
   box-shadow: -4px 4px 20px 0px #e0e0e0

   .cardTitle
      font-size: 1.3rem
      font-weight: 500
      margin-bottom: 1rem
      svg
         margin-right: 7px

   .card-input
      box-shadow: none
      border: 1px solid $cardBorder
      border-radius: 7px
      padding: 0

   .card-btn
      margin-left: 10px
      border-color: $cardBorder
      border-radius: 7px
      text-transform: capitalize
      font-weight: 500
      color: $darkGray
      width: auto
      height: fit-content
      padding: 10px
      font-size: 12px
      p
         padding-left: 7px
         letter-spacing: initial
         font-size: 14px

// Drop Down
.drop-down-card
   @extend .card-box-style
   padding: 0
   position: absolute
   z-index: 1
   width: 16rem
   top: 74px

   &>*
      padding: 5px 1rem

   button.dd-option
      @extend .v-center-normal
      @extend .no-shadows
      gap: 10px
      border-radius: 0px

      &:hover
         background: $lightGray

   .dd-header
      border-bottom: 1px solid $cardBorder
      font-weight: bold

// Tabs - Tab Container
.nav
   border-bottom: 2px solid $cardBorder
   .nav-link
      color: $darkGray
      border: 2px solid transparent
      height: 105%
      display: flex
      align-items: center
      gap: 5px
      &:focus
         box-shadow: 0 0px 4px -1px rgb(53 53 64 / 58%) !important
      &.active
         border-color: transparent
         border-bottom: 2px solid
         font-weight: 600

   .nav-left-section
      margin-left: auto
      display: flex

// Table - Headers & Rows

table.table
   font-size: 15px

   .tOption
      width: 30px
      height: 38px
      margin: auto
      >button
         width: 100%
         height: 100%
         background: transparent

   thead
      background: $lightGray
   th
      background: transparent
      padding: 15px
      font-weight: 400

   thead th
      &:first-child
         border-bottom-left-radius: 10px
         border-top-left-radius: 10px
         padding-left: 30px

      &:last-child
         border-bottom-right-radius: 10px
         border-top-right-radius: 10px
         padding: 0
         vertical-align: middle

   tbody
      td
         padding-top: 20px
         padding-bottom: 28px
         // text-align: center
         border-bottom: 1px solid $cardBorder
         font-weight: 300
         color: $darkGray
         vertical-align: middle

      tr:last-child td
         border-bottom: 1px solid transparent

nav.t-paginator
   button
      height: 30px
      width: 30px
      border-radius: 4px
      margin: 0

// Cirle Status

.circle-status
   --circle-number-size: 14px
   @extend .v-center
   font-size: 10px
   font-weight: 700
   background: gray // TODO: Change color
   color: white
   border-radius: 50%
   width: var(--circle-number-size)
   height: var(--circle-number-size)

   &-green
      @extend .circle-status
      background: #58ae96
   &-red
      @extend .circle-status
      background: #b94943
   &-orange
      @extend .circle-status
      background: #b68b41

.chat-box-wrapper
   display: flex
   flex-direction: column
   .chat-header
      @extend .bb-card
      position: relative
   .conversation-box
      flex: 1
      padding: 1.5rem
      padding-bottom: 0
      @extend .scroll-style
      overflow-y: scroll
      .bubble-chat
         background-color: #e8e8e8
         color: $darkGray
         margin-bottom: 8px
         border-radius: 22px
         padding: 7px 1rem
         width: fit-content
         white-space: pre-wrap
         max-width: calc(100% - 50px)

         &.source
            border-bottom-left-radius: 0
         &.sending
            border-bottom-right-radius: 0
            background-color: #dff0d8
            color: #67b08b
            margin-left: auto

.contact-card
   @extend .v-center-between
   border-bottom: 1px solid $cardBorder
