@import 'colors'

.layoutGrid
   display: flex
   width: 100%

   .sideMenu
      border-right: 1px solid $cardBorder
      display: flex
      flex-direction: column
      // max-width: 264px
      .status-section-width
         width: 184px
         text-align: left
         padding-left: 7px
         p:first-child
            font-size: 14
            color: $darkGray
         p
            font-size: 10
            color: gray

      .title-section
         button
            text-transform: uppercase
            font-size: 0.77rem
            font-weight: 500
            letter-spacing: 1px

      .menu-separator
         margin-bottom: 2rem

      .menu-item
         padding: 10px 10px
         margin-bottom: 5px
         width: 100%
         text-align: left
         background: inherit
         border: 1px solid transparent
         border-radius: 3px
         &:hover
            border: 1px solid rgba(53, 53, 64, 0.58) !important

         .svg-icon
            width: 27px
            height: 18px

         &.active
            background: $activeItem
            border-radius: 7px
            svg, p
               color: white
            .svg-icon
               background-color: white
            &:hover
               background: #8e939fc7

      &>*
         padding-left: 1rem
         padding-right: 1rem

      .logo-block
         padding: 0 12px

      nav
         flex: 1
         overflow-y: scroll
         @extend .scroll-style

      .menuFooter
         font-size: 1rem
         font-weight: 500
         display: flex
         align-items: center
         margin: 0
         padding: 1rem 3rem
         border-top: 1px solid #e3e3e3
         order: 1
         line-height: 1
         letter-spacing: 1px

   .main-container
      display: flex
      flex-direction: column
      flex: 1

      .children-container
         @extend .scroll-style
         overflow: auto
         padding: 2rem
         background-color: $bg
         height: 100%

         > div
            margin: auto
            max-width: 1700px

.navbar
   .nav-item, .nav-link
      margin: 0 7px

      &.active
         font-weight: bold

   &.bg-body-tertiary
      background-color: white !important
      border-bottom: 1px solid $cardBorder

   .navbar-options
      > button, #UserSettingsDropDown-id, .nav-dropdown button
         margin-left: 10px
         border-color: $cardBorder
         border-radius: 7px
         text-transform: capitalize
         font-weight: 400
         color: $darkGray
         width: auto
         padding: 10px 14px
         margin-bottom: 0
         &.round
            border-radius: 30px
            padding: 10px 20px
         p
            padding-left: 7px
            letter-spacing: initial
            font-size: 14px

         .svg-icon
            background-color: $darkGray

      .SettingsDropDown
         .drop-down-card
            padding: 1rem
