#filtros-multiples
   .col-6
      &:nth-child(odd)
         padding-right: 10px
      &:nth-child(even)
         padding-left: 10px

#operadores-container
   .indicators-column
      p
         font-size: 13px
         font-weight: 250
      .circle-status-red
         --circle-number-size: 10px

#gestor-recursos-table
   .filter-options
      button
         width: 210px
         margin: 0
