#filtros-multiples
   .col-6
      &:nth-child(odd)
         padding-right: 10px
      &:nth-child(even)
         padding-left: 10px

#operadores-container
   .indicators-column
      p
         font-size: 13px
         font-weight: 250
      .circle-status-red
         --circle-number-size: 10px

#gestor-recursos-table
   .filter-options
      button
         width: 210px
         margin: 0

   .box-base
      padding: 3px 12px
      padding-right: 0
      border-radius: 5px

   .box-ambulancia
      @extend .box-base
      background-color: #f7fdff
      border: 1px solid #5dbede
   .box-bomberos
      @extend .box-base
      background-color: #fdedef
      border: 1px solid #ee747a
   .box-moto
      @extend .box-base
      background-color: #fbe8e1
      border: 1px solid #f09473
   .box-cuatriciclo
      @extend .box-base
      background-color: #fbf7ff
      border: 1px solid #e7cefc
