@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

.transitionBackground
  -webkit-transition: background 500ms ease-out
  -moz-transition: background 500ms ease-out
  -o-transition: background 500ms ease-out
  transition: background 500ms ease-out

.transitionBorder
  -webkit-transition: border 500ms ease-out
  -moz-transition: border 500ms ease-out
  -o-transition: border 500ms ease-out
  transition: border 500ms ease-out

.transitionBoxShadow
  -webkit-transition: box-shadow 500ms ease-out
  -moz-transition: box-shadow 500ms ease-out
  -o-transition: box-shadow 500ms ease-out
  transition: box-shadow 500ms ease-out
