
$darkGray: #424b5f
$lightGray: #f5f6f8
$bg: #f6f7fa
$cardBorder: #d9d9d9
$activeItem: #8e939f
$green_new_message: #5ba938
$link_color: #5477cc
// status
$bgGreen: #dff0d8
$greenColor: #67b08b
$bgRed: #f9e5e2
$redColor: #b94943
// recursos
$bgAmbulancia: #26c0e2
$bgBombero: #ff6a77
$bgCaminantes: #e782a6
$bgCuatriciclo: #c68de7
$bgCientifica: #84b6f4
$bgPolicial: #72c8cc
$bgTransito: #fcc52c
