@use 'resets' as *
@import 'animations'
@import 'colors'
@import '_layout'
@import '_components'

body, html, app
  display: flex
  width: 100vw
  height: 100vh
  color: $darkGray
  // background-image: url('/illustration.svg')
  background-repeat: no-repeat
  background-size: cover
  background-position: 160px 125px
  scroll-behavior: smooth
  user-select: none
  overflow: hidden
  animation: fadeIn 1s forwards
  -webkit-app-region: no-drag
  -webkit-font-smoothing: antialiased

  button:focus
    box-shadow: 0 0px 4px 2px rgb(53 53 64 / 58%) !important
    border: 1px solid rgb(53 53 64 / 58%)

  a.nav-link:focus
    // border: 1px solid rgb(53 53 64 / 58%)
    box-shadow: 0 0px 4px 1px rgb(53 53 64 / 58%) !important

p
  margin: 0

.disabled
  filter: grayscale(40%)
  pointer-events: none

.center-col
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.no-gutters
  --bs-gutter-x: 0

.v-center
  display: flex
  justify-content: center
  align-items: center
  &-between
    @extend .v-center
    justify-content: space-between
  &-normal
    @extend .v-center
    justify-content: normal

.global-input
  background: white
  border-radius: 10px
  padding: 3px
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px
  border: 1px solid transparent
  @extend .transitionBorder

.btn-link
  color: $darkGray
  &:hover
    color: $darkGray

.modal
  --bs-modal-width: 70%
.modal-header
  border-bottom: unset
  display: flex
  flex-direction: row-reverse
.modal-footer
  border-top: unset

.no-shadows
  box-shadow: none
  &:hover, &:focus
    box-shadow: none !important

.card-shadow
  @extend .transitionBoxShadow
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
  border: 1px solid transparent
  padding: 12px

.hide
  display: none
