@import "src/resources/styles/globals.sass"

.myInputWrapper
   background: white
   border-radius: 10px
   padding: 3px
   box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px
   border: 1px solid transparent
   @extend .transitionBorder
   display: flex

   &:hover, &:focus-within
      border: 1px solid $darkGray
      box-shadow: 0 0px 4px 0px rgba(53, 53, 64, 0.58) !important
      border: 1px solid rgba(53, 53, 64, 0.58) !important

   .myInputIcon
      margin: 15px
      color: $darkGray

   .myInput
      border: 0
      width: 100%
      border: 1px solid transparent
      background: transparent
